$gray: #646464;
$white: #fff;

@font-face {
    font-family: "GothamPro";
    src: url('fonts/GothamPro.eot');
    src: url('fonts/GothamPro.woff') format("woff");
    src: url('fonts/GothamPro.ttf') format("truetype");
}

html, body {
    font-family: GothamPro, sans-serif;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: $gray;
}

.content-wrapper {
    max-width: 1170px;
    width: 1170px;
    margin: 0 auto;
}

@media all and (max-width: 1170px) {
    .content-wrapper {
        width: 100%;
        max-width: 100%;
    }
}

.menu {
    text-transform: uppercase;
    color: $gray;
    padding: 13px 0 7px;
}

.logo-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 56px;
    letter-spacing: 0.5px;
}

#navigation {
    a {
        text-decoration: none;
        color: $gray;
        font-size: 13px;
        letter-spacing: 1.54px;
        line-height: 2;
        &:hover {
            cursor: pointer;
            color: #767be0;
        }
        &:not(:first-of-type) {
            margin-left: 18px;
        }
    }
}

.head-mobile {
    background-color: white;
    width: 100%;
    padding: 15px 0;
}

.open-menu-mobile {
    width: 20px;
    height: 8px;
    border-top: 2px solid $gray;
    border-bottom: 2px solid $gray;
    position: absolute;
    left: 20px;
    top: 34px;
    cursor: pointer;
    &:after {
        content: "";
        width: 18px;
        position: absolute;
        top: 18px;
        left: 0;
        border: 1px solid $gray;
    }
}

.menu-mobile {
    padding-top: 15px;
    transition: top .2s;
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: $white;
    z-index: 1001;
    text-transform: uppercase;
}

.close-menu-mobile {
    position: absolute;
    right: 15px;
    top: 37px;
    font-size: 26px;
    font-weight: lighter;
    transform: rotate(45deg);
    line-height: 20px;
    cursor: pointer;
}

#navigation-mobile {
    padding-top: 85px;
    a {
        margin-bottom: 40px;
        text-decoration: none;
        color: $gray;
        font-size: 13px;
        letter-spacing: 1.54px;
        line-height: 2;
        text-transform: uppercase;
        &:hover {
            cursor: pointer;
            color: #767be0;
        }
    }
}

#hidden {
    display: none;
}

.head-block {
    position: relative;
    padding: 0;
}

#viewport {
    padding: 0;
    position: relative;
    height: 570px;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 3);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 5px;
    }
}

#slidewrapper {
    ul {
        margin: 0;
        padding: 0;
        li {
            margin: 0;
            padding: 0;
            width: calc(100% / 3);
            list-style: none;
            display: inline;
        }
    }
}

.slide {
    width: calc(100%/3);
    list-style: none;
    display: inline;
}

.slide-img {
    padding: 0;
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.full-slider {
    height: 100%;
    color: $white;
    text-transform: uppercase;
    font-size: 10pt;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.head-title {
    font-weight: bold;
    font-size: 75px;
    line-height: 1;
    letter-spacing: 2px;
    margin-bottom: 14px;
}

.head-description {
    line-height: 20px;
    padding-bottom: 35px;
    letter-spacing: 0.4px;
}

.head-description-mobile {
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 35px;
}

.button-rounded {
    padding: 3px 55px 0;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid $white;
    background-color: $gray;
    line-height: 45px;
    text-decoration: none;
    color: $white;
    font-size: 16px;
    letter-spacing: 0;
    &:hover {
        border: 1px solid $gray;
        background-color: $white;
        color: $gray;
    }
}

.previous-button-white, .next-button-white {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid $white;
    position: absolute;
    svg {
        transform: rotate(180deg);
        width: 20px;
        position: relative;
        top: 15px;
        fill: $white;
    }
    &:hover {
        background-color: $white;
        cursor: pointer;
        svg {
            fill: $gray;
        }
    }
}

.next-button-white {
    svg {
        transform: rotate(0deg);
    }
}

#slider-dots {
    margin: 0;
    position: absolute;
    bottom: 16px;
    padding: 0;
    width: 100%;
    text-align: center;
    .slide-dot {
        height: 8px;
        width: 8px;
        border-radius: 50px;
        border: 1px solid $white;
        background-color: $white;
        display: inline-block;
        list-style: none;
        &:not(:last-of-type) {
            margin-right: 10px;
        }
        &.active {
            background-color: $gray;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

h1 {
    margin-bottom: 32px;
    padding-top: 23px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    line-height: 27px;
    letter-spacing: 1.4px;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        background: $gray;
        margin-left: -15px;
        left: 50%;
        top: 100%;
    }
}

.previous-button-gray, .next-button-gray {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid $gray;
    position: absolute;
    svg {
        transform: rotate(180deg);
        width: 20px;
        position: relative;
        top: 15px;
        fill: $gray;
    }
    &:hover {
        background-color: $gray;
        cursor: pointer;
        svg {
            fill: $white;
        }
    }
}

.next-button-gray {
    svg {
        transform: rotate(0deg);
    }
}

#mini-slider {
    li {
        width: 30%;
        list-style: none;
        margin-right: 35px;
    }
}

h2 {
    margin: 0;
    padding-bottom: 26px;
    font-weight: bold;
    font-size: 18px;
}

p {
    margin: 0;
    padding: 0;
    line-height: 25px;
    letter-spacing: 0.6px;
}

.column-row {
    padding-bottom: 50px;
}

h3 {
    padding: 28px 0 20px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

.article-body {
    font-size: 16px!important;
    color: #2b2b2b!important;
    line-height: 28px!important;
    letter-spacing: 0.43px!important;
}

#section5 {
    padding-top: 104px;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
}
.popup-body-desktop {
    position: absolute;
    top:50%;
    left: 25%;
    margin-top: -125px;
    background: $white;
    width: 50%;
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    button {
        margin-top: 45px;
    }
    p {
        font-size: 18px;
        font-weight: bold;
    }
    .popup-close {
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 26px;
        font-weight: lighter;
        transform: rotate(45deg);
        line-height: 20px;
        cursor: pointer;
    }
}

.popup-body {
    position: absolute;
    top:50%;
    margin-top: -130px;
    background: $white;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    button {
        text-transform: uppercase;
    }
    .popup-close {
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 26px;
        font-weight: lighter;
        transform: rotate(45deg);
        line-height: 20px;
        cursor: pointer;
    }
}

#popup {
    padding: 0 0 43px 0;
    p {
        padding-bottom: 46px;
        font-size: 18px;
        font-weight: bold;
    }
    input {
        display: block;
        text-align: center;
        margin-bottom: 19px;
        width: 299px;
        height: 52px;
        border: 1px solid $gray;
        border-radius: 10px;

    }
    input::-webkit-input-placeholder {
        text-align: center;
        font-family: GothamPro, sans-serif;
        font-size: 16px;
    }
    input:-moz-placeholder {
        text-align: center;
        font-family: GothamPro, sans-serif;
        font-size: 16px;
    }
    input:-moz-placeholder {
        text-align: center;
        font-family: GothamPro, sans-serif;
        font-size: 16px;
    }
    input:-ms-input-placeholder {
        text-align: center;
        font-family: GothamPro, sans-serif;
        font-size: 16px;
    }

    input:focus::-webkit-input-placeholder {
        color:transparent;
    }
    input:focus:-moz-placeholder {
        color:transparent;
    }
    input:focus:-moz-placeholder {
        color:transparent;
    }
    input:focus:-ms-input-placeholder {
        color:transparent;
    }
}


@media screen and (max-width: 1023px) {
    .desktop-row-button {
        display: none;
    }

    #viewport {
        height: auto;
    }

    .popup-body-desktop {
        display: none;
    }

}


@media screen and (min-width: 1024px) {
    .tablet-row-button {
        display: none;
    }

    .popup-body {
        display: none;
    }
}


@media (max-width: 1023px) and (min-width: 767px) {
    .popup-body {
        width: 50%;
        left: 25%;
    }

    #mini-slider {
        padding-bottom: 35px;
        li {
            width: 32%;
            margin-right: 20px;
        }
    }

    .menu, .mini-slider, .column {
        padding-left: 42px;
        padding-right: 42px;
    }
}

@media screen and (max-width: 767px) {
    .previous-button-white, .next-button-white {
        display: none;
    }

    #viewport {
        height: 460px;
    }

    .slide-img {
        height: 460px;
    }

    .column-row {
        padding-bottom: 0;
    }

    h2 {
        padding: 30px 0 38px 0;
    }

    .head-title {
        font-weight: bold;
        font-size: 25px;
    }

    #mini-slider {
        width: 100%;
        padding-bottom: 35px;
        img {
            margin-left: 10px;
        }
    }

    #mini-slider {
        li {
            width: calc(100% / 3);
            list-style: none;
            display: inline;
        }
    }

    .row-slide {
        width: calc(100% * 3);
    }

    .head-description {
        display: none;
    }

    .desktop-row-button {
        display: none;
    }

    .menu {
        display: none;
    }

}

@media screen and (min-width: 768px) {
    .head-description-mobile {
        display: none;
    }

    .head-mobile {
        display: none;
    }

}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }


